body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
  }
  
  header {
    background-color: #E91E63;
    padding: 20px;
    color: #FFFFFF;
  }
  
  h1 {
    font-size: 48px;
    margin: 0;
  }
  
  main {
    padding: 50px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  